@font-face {
    font-family: "arimo-bold";
    src: url("./font/Arimo-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "arimo-regular";
    src: url("./font/Arimo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "arimo-medium";
    src: url("./font/Arimo-Medium.ttf") format("truetype");
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

@-webkit-keyframes glow {
    from {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 25px var(--highlighted-glow-color), 0 0 30px var(--highlighted-glow-color);
    }
    to {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px var(--highlighted-glow-color), 0 0 20px var(--highlighted-glow-color), 0 0 25px var(--highlighted-glow-color), 0 0 30px var(--highlighted-glow-color), 0 0 35px var(--highlighted-glow-color);
    }
}

:root {
    --g1: rgb(98, 0, 234);
    --g2: rgb(11, 8, 175);
    --g1-brighter: rgb(146, 69, 255);
    --g2-fade: rgba(11, 8, 175, 0.3);
    --g2-less-fade: rgba(11, 8, 175, 0.6);
    --highlighted-text-color: rgb(0,0,0);
    --highlighted-bg-color: rgb(228, 210, 46);
    --highlighted-glow-color: rgba(228, 210, 46, 0.6);
    --non-highlighted-text-color: rgba(177, 162, 25, 1);
    --darkness: rgb(20,20,20);
    --darkness-bg: rgba(20, 20, 20, 0.5);
    --bs-form-control-bg: var(--darkness);
    --bs-form-control-disabled-bg: rgb(80,80,80);
    --bs-body-font-family: arimo-regular;
    --bs-regular-text: whitesmoke;
    --bs-border-radius: 3px;
}

body {
    animation: background-pan 10s linear infinite;
    background: linear-gradient(
        to right,
        var(--g1),
        var(--g2),
        var(--g1)
    );
    background-size: 200%;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}

ul.dropdown-menu.dropdown-scroll::-webkit-scrollbar,
.accordion-overflow.accordion::-webkit-scrollbar, 
.table-overflow::-webkit-scrollbar {
    width: 12px;
}

ul.dropdown-menu.dropdown-scroll::-webkit-scrollbar-track,
.accordion-overflow.accordion::-webkit-scrollbar-track,
.table-overflow::-webkit-scrollbar-track {
    background: var(--g2-fade);
}

ul.dropdown-menu.dropdown-scroll::-webkit-scrollbar-thumb,
.accordion-overflow.accordion::-webkit-scrollbar-thumb,
.table-overflow::-webkit-scrollbar-thumb {
    background-color: var(--g1);
    border-radius: 20px;
    border: 3px solid var(--g2);
}

.nav-link {
    color: var(--non-highlighted-text-color);
}

button > .nav-link.active {
    color: var(--highlighted-text-color);
}

button > .btn, .dropdown-toggle {
    color: var(--non-highlighted-text-color);
}

.dropdown-toggle.show {
    color: var(--highlighted-glow-color);
}

.dropdown-toggle:active,
.dropdown-toggle:focus-visible,
.dropdown-toggle:hover {
    color: var(--bs-regular-text);
}

.wrapper {
    position: relative;
}

.top-lad {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    z-index: -100;
    position: absolute;
    top: -10px;
    left: 0;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
    outline: 1px solid rgba(0,0,0,0);
    background-color: rgb(20,20,20);
    height: calc(100% - 1px);
    width: calc(100% - 1px);
}

.top-gun {
    z-index: 100;
    background: rgba(0,0,0,0);
    position: relative;
    margin-top: 10px;
}

label {
    color: var(--non-highlighted-text-color);
}

input.form-control {
    color: var(--non-highlighted-text-color);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
}

input.form-control.is-valid {
    background-color: var(--bs-form-control-bg);
}

button.btn.btn-left {
    margin-right: 1px;
}


#comboSlippi_combo_button.btn.btn-right,
#parseSlippi_parse_button.btn.btn-right {
    margin-left: 0px;
}

.btn-primary {
    --bs-btn-disabled-bg: rgba(177, 162, 25, 0.7);
    --bs-btn-disabled-border-color: rgb(136, 124, 19);
    --bs-btn-bg: var(--highlighted-text-color);
    --bs-btn-border-color: rgb(214, 196, 37);
    --bs-btn-hover-bg: rgb(60, 3, 165);
    --bs-btn-hover-border-color: rgb(83, 5, 228);
}

.modal-content {
    --bs-modal-color: whitesmoke;
    --bs-modal-bg: var(--darkness);
}

div.progress {
    color: whitesmoke;
}

.progress {
    --bs-progress-bar-color: var(--g1);
    --bs-progress-bar-bg: var(--g2);
}

.progress-bar {
    color: var(--non-highlighted-text-color);
}

.btn:disabled {
    border-color: rgb(136, 124, 19) !important;
}

select {
    background: var(--darkness);
    color: var(--non-highlighted-text-color);
}

div.nav-tabs > button.nav-link {
    border-radius: 0px 34px 12px 5px;
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
    font-size: larger;
    font-family: arimo-bold;
}

div.nav-tabs > button.nav-link:hover {
    color: var(--highlighted-bg-color);
    box-shadow: 0 0 20px var(--non-highlighted-text-color);
    background-color: var(--highlighted-glow-color);
    border-color: var(--highlighted-glow-color);
}

div.nav-tabs > button.nav-link:disabled:hover {
    background-color: rgba(0,0,0,0);
    color: rgba(100,100,100,0.5);
}

div.nav-tabs > button.nav-link.active {
    background-color: var(--highlighted-bg-color);
    color: var(--highlighted-text-color);
    border: double 3px var(--highlighted-bg-color);
    -webkit-animation: glow 3s ease-in-out infinite alternate;
    animation: glow 3s ease-in-out infinite alternate;
}

.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.accordion-button::after {
    order: -1;
    margin-left: 0;
    margin-right:0.5em;
    background-image: url("./Bootstrap/svg/caret-right-fill.svg");
}

.accordion-button:not(.collapsed-icon)::after {
    background-image: url("./Bootstrap/svg/caret-up-fill.svg");
    transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button-sub::after {
    order: -1;
    margin-left: 0;
    margin-right:0.5em;
    background-image: url("./Bootstrap/svg/caret-right.svg");
}

.accordion-button-sub:not(.collapsed-icon)::after {
    background-image: url("./Bootstrap/svg/caret-up.svg");
    transform: var(--bs-accordion-btn-icon-transform);
}

.dropped-label {
    margin-top: 35px;
}

.batchInputWrapper {
    float: right
}

.batchInput {
    width: 200px;
    margin-bottom: 5px;
}

.errybody {
    height: 100px
}

.h-0 {
    height: 0px;
}

.navbar_skeleton {
    height: 42px;
}

.bg-purple {
    background: rgb(48,0,50);
}

.bg-gray {
    background: rgb(74,74,74);
}

.bg-blue {
    background: rgb(50,101,196);
}

.bg-red {
    background: rgb(196,50,53);
}

.position-relative {
    position: relative;
}

.accordion-overflow {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: inherit;
}

.menu.accordion-overflow.accordion {
    border: solid 3px var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.accordion-item.outer-accordion-item {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.accordion-item.outer-accordion-item:last-of-type {
    border-bottom: 0px;
}

div.accordion-item

.pos-abs {
    position: absolute;
}

.table-bordered {
    background-color: var(--darkness-bg);
}

.table-overflow {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: inherit;
    border: solid 3px var(--bs-border-color);
    border-radius: 3px;
    margin-bottom: 5px;
}

.panel-height {
    height: 0px;
    display:none!important;
}

.panel-height.active {
    height: 100%;
    display: flex!important;
}

.input-group-match-select {
    padding-top: 6px;
    padding-bottom: 5px;
}

.select {
    outline: none;
}

.ofs {
    overflow-y: scroll
}

.bottom-pagination {
    margin-top: 1rem;
}

.page-item-elipsis {
    --bs-pagination-disabled-bg: var(--darkness-bg);
    --bs-pagination-border-color: var(--darkness-bg);
    border-left: var(--bs-border-width) solid var(--bs-border-color);
    --bs-pagination-border-width: 0px;
}

.pagination {
    --bs-pagination-bg: var(--darkness-bg);
    --bs-pagination-active-color: #000;
    --bs-link-color: var(--non-highlighted-text-color);
    --bs-link-hover-color: var(--bs-regular-text);
    --bs-pagination-active-bg: var(--highlighted-bg-color);
    --bs-pagination-active-border-color: var(--highlighted-bg-color);
}

.hidden-context {
    display: none;
}

.show-context {
    position: absolute;
    background-color: var(--darkness);
    border-color: var(--bs-btn-border-color);
    z-index: 3;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 12px 35px var(--g2-less-fade);
}

li.context-item > option,
li.context-item > span {
    color: var(--bs-regular-text);
}

.accordion {
    --bs-accordion-bg: var(--darkness-bg);
    --bg-accordion-inner-border-radius: 3px;
}

.accordion-combo-data {
    text-align: center;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 10px;
    transition: 0.3s;
}

.accordion-item:hover,
.accordion-combo-data:hover {
    background-color: var(--g2-fade);
}

.accordion-combo-data-extra-space {
    margin-top: 10px;
}

.wrapper .context-menu {
    padding: 10px 12px;
}

.content .context-item {
    list-style: none;
    height: 50px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 5px 0 10px;
    transition: 0.3s;
}

.content .context-item:hover {
    background-color: #d3d3d375;
}

.content .context-item-disabled {
    color: rgba(0,0,0,0.2);
}

.content .context-item-disabled:hover {
    color: rgba(0,0,0,0.2);
    background-color: #d3d3d325;
}

.icon {
    width: 25px;
    height: 25px;
    background-size: 200%;
    margin-right: 5px;
}

.add-rule-icon {
    margin: 4px;
    width: 34px;
    height: 34px;
    opacity: 0.4;
    transition: 0.3s;
}

.enabled-icon .add-rule-icon:hover {
    opacity: 0.7;
}

.disabled-icon {
    transition: 0.3s;
}

.disabled-icon:hover {
    opacity: 0.4;
}

.play-icon {
    background: url("./Bootstrap/svg/play-fill.svg");
}

.trash-icon {
    background: url("./Bootstrap/svg/trash3-fill.svg");
}

.edit-icon {
    background: url("./Bootstrap/svg/pencil-square.svg");
}

.target-border {
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.target-dropdown {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 58px;
    margin-top: 6px;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.target-dropdown:hover {
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.replace-input-width .target-dropdown {
    margin-top: 0px;
    height: 42px;
}

.dropdown-item {
    height: 2.25rem;
}

.dropdown-scroll {
    scroll-behavior: smooth;
    overflow: auto;
    max-height: 250px;
}

.btn-dark.btn-filter {
    background-color: var(--darkness);
    border-color: var(--g1);
}

.btn-dark.btn-filter:hover {
    background-color: var(--g2-fade);
    border-color: var(--g1-brighter);
}

.p-move {
    margin: 0.25rem 1rem 0.25rem 1rem;
}

.play-button-div,
.meatballs-div {
    position: absolute;
    right: 2rem;
}

.play-button-div {
    right: 4.5rem;
}

.btn-export,
.btn-import {
    border: solid 2px var(--bs-border-color);
    height: 38px;
}

.btn-export:hover,
.btn-import:hover {
    border-color: var(--bs-regular-text);
}

.import-button {
    margin-top: 5px;
}

.import-export-button {
    height: 1rem;
    width: 1rem;
}

.play-button-icon,
.meatballs-icon {
    height: 2rem;
    width: 2rem;
}

.buffer-right-slightly {
    margin-right: 0.5rem;
}

.inner-addon {
    background-color: var(--bs-form-control-disabled-bg);
    position: relative;
    margin: 0px;
}

.inner-addon .gliphicon {
    margin: 5px;
    pointer-events: none;
    position: absolute;
}

.replace-input-width {
    flex: 1 1 auto;
}

.gliphicon-box {
    cursor: default;
    color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
    border-color: rgba(118, 118, 118, 0.3);
    width: 45px;
    height: 30px;
    background-color: var(--darkness);
    border-radius: var(--bs-border-radius);
}

.inner-addon .x {
    position: absolute;
    margin-left: 24px;
    margin-top: 5px;
    width: 22px;
    height: 22px;
    opacity: 0.1;
    transition: 0.3s;
}

.flex {
    display: flex;
}

.char-box {
    width: 45px;
    position: relative;
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 2px;
}

.id-box-container {
    position: relative;
    display: inline-flex;
    margin-right: 10px;
    border: 2px solid rgba(118, 118, 118, 0.3);
    cursor: default;
    padding-left: 3px;
    background-color: var(--darkness);
    border-radius: var(--bs-border-radius);
}

.id-box-container .x {
    position: relative;
    margin-left: 2px;
    margin-top: 3px;
}

.id-box-container:hover .x {
    opacity: 1;
}

.char-box:hover .x {
    opacity: 1;
}

.hide {
    display: none;
}

.dropdown-header {
    color: var(--bs-regular-text);
}

#choose_stage_dropdown_dropdown,
#choose_character_dropdown_dropdown {
    height: 300px;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-count: 3;
}

.showing-x-of-y {
    text-align: center;
    margin-top: 8px;
    color: var(--non-highlighted-text-color);
}

.filter-play-buttons {
    margin-bottom: 20px;
}

.filter-play-buttons > .d-gap {
    margin-left: calc(50% - 125px);
}

#comboSlippi_settings_button,
#parseSlippi_settings_button,
img.gear-icon.settings-icon {
    width: 1.75rem;
    margin-left: 0.75rem;
    transition: 0.3s;
    opacity: 0.3;
}

#comboSlippi_settings_button:hover,
#parseSlippi_settings_button:hover,
img.gear-icon:hover {
    opacity: 0.9;
}

.settingsInputWrapper {
    text-align: center;
}

.settingsInput {
    width: 100%;
    margin-bottom: 5px;
}

input:-internal-autofill-selected {
    background-color: var(--bs-form-control-bg) !important;
}

.fifty-fifty-column-split {
    width: calc(100% - 20px);
    margin-left: 10px;
}

#parseSlippi_times_table {
    padding-left: 0;
    padding-right: 0;
}

#parseSlippi_times_table > table {
    border: solid 3px var(--bs-border-color);
    border-radius: 3px;
}