.basic-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.accordion-button::after {
    order: -1;
    margin-left: 0;
    margin-right:0.5em;
    background-image: url("./Bootstrap/svg/caret-right-fill.svg");
}

.accordion-button:not(.collapsed-icon)::after {
    background-image: url("./Bootstrap/svg/caret-up-fill.svg");
    transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button-sub::after {
    order: -1;
    margin-left: 0;
    margin-right:0.5em;
    background-image: url("./Bootstrap/svg/caret-right.svg");
}

.accordion-button-sub:not(.collapsed-icon)::after {
    background-image: url("./Bootstrap/svg/caret-up.svg");
    transform: var(--bs-accordion-btn-icon-transform);
}

.dropped-label {
    margin-top: 35px;
}

.batchInputWrapper {
    float: right
}

.batchInput {
    width: 200px;
    margin-bottom: 5px;
}

.errybody {
    height: 100px
}

.h-0 {
    height: 0px;
}

.navbar_skeleton {
    height: 42px;
}

.bg-purple {
    background: rgb(48,0,50);
}

.bg-gray {
    background: rgb(74,74,74);
}

.bg-blue {
    background: rgb(50,101,196);
}

.bg-red {
    background: rgb(196,50,53);
}

.position-relative {
    position: relative;
}

.accordion-overflow {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: inherit;
}

.pos-abs {
    position: absolute;
}

.table-overflow {
    overflow: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: inherit;
}

.panel-height {
    height: 0px;
    display:none!important;
}

.panel-height.active {
    height: 100%;
    display: flex!important;
}

.input-group-match-select {
    padding-top: 6px;
    padding-bottom: 5px;
}

.select {
    outline: none;
}

.ofs {
    overflow-y: scroll
}

.bottom-pagination {
    margin-top: 1rem;
}

.page-item-elipsis {
    --bs-pagination-disabled-bg: var(--bs-body-bg);
    --bs-pagination-border-color: var(--bs-body-bg);
    border-left: var(--bs-border-width) solid var(--bs-border-color);
    --bs-pagination-border-width: 0px;
}

.hidden-context {
    display: none;
}

.show-context {
    position: absolute;
    background-color: white;
    z-index: 3;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
}

.accordion-combo-data {
    text-align: center;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 10px;
    transition: 0.3s;
}

.accordion-combo-data:hover {
    background-color: rgba(127,255,212,0.4);
}

.accordion-combo-data-extra-space {
    margin-top: 10px;
}

.wrapper .context-menu {
    padding: 10px 12px;
}

.content .context-item {
    list-style: none;
    height: 50px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 5px 0 10px;
    transition: 0.3s;
}

.content .context-item:hover {
    background-color: #d3d3d375;
}

.content .context-item-disabled {
    color: rgba(0,0,0,0.2);
}

.content .context-item-disabled:hover {
    color: rgba(0,0,0,0.2);
    background-color: #d3d3d325;
}

.icon {
    width: 25px;
    height: 25px;
    background-size: 200%;
    margin-right: 5px;
}

.add-rule-icon {
    margin: 4px;
    width: 34px;
    height: 34px;
    opacity: 0.4;
    transition: 0.3s;
}

.enabled-icon .add-rule-icon:hover {
    opacity: 0.7;
}

.disabled-icon {
    transition: 0.3s;
}

.disabled-icon:hover {
    opacity: 0.4;
}

.play-icon {
    background: url("./Bootstrap/svg/play-fill.svg");
}

.trash-icon {
    background: url("./Bootstrap/svg/trash3-fill.svg");
}

.edit-icon {
    background: url("./Bootstrap/svg/pencil-square.svg");
}

.target-border {
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.target-dropdown {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    height: 58px;
    margin-top: 6px;
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.target-dropdown:hover {
    border: var(--bs-border-width) solid var(--bs-border-color);
}

.replace-input-width .target-dropdown {
    margin-top: 0px;
    height: 42px;
}

.dropdown-item {
    height: 2.25rem;
}

.dropdown-scroll {
    scroll-behavior: smooth;
    overflow: auto;
    max-height: 250px;
}

.btn-filter {
    background-color: lavender;
}
.p-move {
    margin: 0.25rem 1rem 0.25rem 1rem;
}

.meatballs-div {
    position: absolute;
    right: 2rem;
}

.meatballs-icon {
    height: 2rem;
    width: 2rem;
}

.buffer-right-slightly {
    margin-right: 0.5rem;
}

.inner-addon {
    background-color: var(--bs-form-control-disabled-bg);
    position: relative;
    margin: 0px;
}

.inner-addon .gliphicon {
    margin: 5px;
    pointer-events: none;
    position: absolute;
}

.replace-input-width {
    flex: 1 1 auto;
}

.gliphicon-box {
    cursor: default;
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
    border-color: rgba(118, 118, 118, 0.3);
    width: 45px;
}

.inner-addon .x {
    position: absolute;
    margin-left: 24px;
    margin-top: 5px;
    width: 22px;
    height: 22px;
    opacity: 0.1;
    transition: 0.3s;
}

.flex {
    display: flex;
}

.char-box {
    width: 45px;
    position: relative;
    display: inline-flex;
    margin-right: 10px;
    margin-bottom: 2px;
}

.id-box-container {
    position: relative;
    display: inline-flex;
    margin-right: 10px;
    border: 2px solid rgba(118, 118, 118, 0.3);
    cursor: default;
    padding-left: 3px;
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
}

.id-box-container .x {
    position: relative;
    margin-left: 2px;
    margin-top: 3px;
}

.id-box-container:hover .x {
    opacity: 1;
}

.char-box:hover .x {
    opacity: 1;
}

.hide {
    display: none;
}

#choose_stage_dropdown_dropdown,
#choose_character_dropdown_dropdown {
    height: 300px;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-count: 3;
}